.App {
  text-align: center;
}

.App-logo {
  height: 5vmin;
  pointer-events: none;
}
.Ru-lang {
  height: 4vmin;
}
.Us-lang {
  height: 4vmin;
}

.App-header {
  background-color: black;
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: top;
  justify-content: top;
  font-size: calc(5px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.cart {
  text-align: center;
}
